* {
    margin: 0;
    padding: 0;
}
.maket-1 {
    overflow-x: hidden;
}
#body-inside {
    display: inline-flex;
}
#photo {
    width: 100vh;
    height: 100vh;
    background-image: url(../images/ohotnik.jpg);
    background-position: center;
    background-size: contain;
}
#name {
    font-size: 62px;
}
#description {
    width: calc(100vw - 100vh);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#description-inside {
    width: 90%;
    margin: 0 auto;
}
#heading {
    width: 300px;
}
.columns {
    flex-wrap: wrap;
}
.column {
    width: 200px;
    padding: 20px;
    margin: 0 30px;
}
#description ul {
    list-style-type: square;
}



/*ВТОРАЯ ЧАСТЬ*/
#photo-2 {
    width: 100vw;
}
#name-2 {
    font-size: 48px;
}
#description-2 {
    width: 90%;
    margin: 0 auto;
}
#heading-2 {
    width: 300px;
    margin-top: 20px;
}
.container {
    width: 90%;
    margin: 20px auto;
}
.container > div {
    margin: 10px 0;
    border-top: 1px solid gray;
    padding: 10px 0;
}
.article-heading-2:hover a {
    color: #d90429;
}
.footer-2 {
    width: 300px;
    margin: 0 auto;
    color: gray;
    margin-bottom: 20px;
}
.maket-2 {
    display: none;
}
.columns-2 {
    flex-wrap: wrap;
}
.column-2 {
    width: 200px;
    padding: 10px;
    margin: 0 10px;
}
@media screen and (max-width: 700px) {
    .maket-1 {
        display: none;
    }
    .maket-2 {
        display: block;
    }
}
@media screen and (max-aspect-ratio: 15/10) and (min-width: 701px) {
    .maket-1 {
        display: none;
    }
    .maket-2 {
        display: block;
    }
    #name-2 {
        font-size: 72px;
    }
    #heading-2 {
        width: 695px;
        margin-top: 20px;
    }
    #cite-2 {
        display: block;
        width: 695px;
        margin: 0 auto;
    }
    .container {
        width: 695px;
        margin: 20px auto;
    }
    .container > div {
        margin: 20px 0;
        border-top: 1px solid gray;
    }
    .footer-2 {
        width: 695px;
        margin: 0 auto;
        color: gray;
        margin-bottom: 20px;
    }
}
