body {
    background-color: #edf2f4;
}
main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.sidebar {
    width: 35%;
    height: 800px;
}
.article-div {
    width: 65%;
    padding: 20px;
}
h1 {
    font-size: 72px;
    text-transform: uppercase;
}
#publication_info {
    font-size: 30px;
    color: #8d99ae;
    position: relative;
    top: -20px;
}
.article-tesis {
    font-weight: 700;
    font-size: 40px;
}
.article-main {
    font-weight: 300;
    font-size: 24px;
}
.citate {
    display: block;
    margin-left: 60px;
    font-size: 20px;
}
.citate::before {
    display: block;
    content: " ❝ ";
    width: 20px;
    height: 20px;
    background-color: #d90429;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-bottom: 10px;
}
.citate::after {
    display: block;
    content: " ❞ ";
    width: 20px;
    height: 20px;
    background-color: #d90429;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 50%;
}
.more-info-after-article {
    margin: 30px 0 30px;
}
.article-heading-without-counter {
    height: 40px;
    padding: 10px 40px 25px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    text-transform: uppercase;
}
.article-heading-without-counter:hover {
    background-color: rgba(255,255,255,.5);
}
.article-heading-without-counter:hover h2 {
    color: #d90429;
}

.avatar {
    border: 4px solid #333;
    border-radius: 5px;
}
.sidebar-inside {
    padding: 40px 10px;
    position: relative;
    top: 100px;
}
.sidebar-inside-inside {
    display: flex;
}
.margin-10 {
    margin: 10px;
}
.inline {
    display: flex;
    align-items: center;
}
.maket-2 {
    display: none;
}

@media screen and (max-width: 1000px) {
    .maket-1 {
        display: none;
    }
    .maket-2 {
        display: block;
    }
}
.main-2 {
    width: 100vw;
    margin: 0 auto;
    display: flex;
}
.article-div-2 {
    width: 80%;
    margin: 0 auto;
}
.article-div-2 h1 {
    font-size: 48px;
}
#publication_info-2 {
    font-size: 20px;
    color: #8d99ae;
    position: relative;
    top: -10px;
}
.article-tesis-2 {
    font-weight: 700;
    font-size: 24px;
}
.article-main-2 {
    font-weight: 300;
    font-size: 16px;
}
.citate-2 {
    display: block;
    margin-left: 30px;
    font-size: 16px;
}
.more-info-after-article-2 {
    margin: 30px 0 30px;
}
.more-info-after-article-2 h2 {
    font-size: 20px;
}
.article-heading-without-counter-2 {
    height: 40px;
    padding: 10px 40px 25px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    text-transform: uppercase;
}
.article-heading-without-counter-2:hover {
    background-color: rgba(255,255,255,.5);
}
.article-heading-without-counter-2:hover h2 {
    color: #d90429;
}