body {
    background-color: #edf2f4;
}
.header {
    width: 732px;
    margin: 0 auto;
}
#header-div {
    width: 700px;
    margin: 80px auto 0;
    font-size: 20px;
}
main {
    width: 732px;
    margin: 0 auto;
}
.article-heading {
    height: 120px;
    padding: 10px 40px 25px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.article-heading:hover {
    background-color: rgba(255,255,255,.5);
}
.article-heading:hover h2 {
    color: #d90429;
}
h1 {
    font-size: 60px;
    text-transform: uppercase;
}
h2 {
    font-size: 36px;
    text-transform: uppercase;
}
.word-counter {
    font-size: 20px;
}
main a:visited {
    color: #aaaaaa;
}
.footer-1 {
    width: 90vw;
    text-align: center;
    font-size: larger;
    padding: 20px 0;
    border-top: 1px gray solid;
    margin: 20px auto;
}
@media screen and (max-width: 700px) {
    .header {
        width: 90%;
        margin: 0 auto;
    }
    #header-div {
        width: 100%;
        margin: 80px auto 0;
        font-size: 20px;
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
    .header-img {
        width: 100%;
    }
    .article-heading {
        height: max-content;
    }
}