/*SLIDER*/
.slider {
    width: calc(90vw + 40px);
	height: 30vw;
	margin: auto;
	margin-top: 50px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
	position: absolute;
	top: 0;
    left: 0;
}
.slide1 { 
    background: url(../images/slide-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-1 {
    width: 90vw;
    text-align: center;
    font-size: larger;
    padding: 20px 0;
    border-top: 1px gray solid;
    margin: 20px auto;
}
/*GALEREYA*/
.flex {
    display: flex;
    flex-wrap: wrap;
    width: calc(90vw + 60px);
    margin: 0 auto;
}
.image-in-galery {
    width: 30vw;
    height: 30vw;
    margin: 10px;
}
#next {
    background-image: url(../images/gallery/next.jpeg);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#next:hover {
    background-color: transparent;
    transition: .2s linear;
}
@media screen and (max-width: 600px) and (min-width: 421px) {
    .image-in-galery {
        width: 45vw;
        height: 45vw;
        margin: 5px auto;
}
    .slider {
    display: none;
    }
    .container {
        margin-top: 40px;
    }
}
@media screen and (max-width: 420px) {
    .container {
        width: 90vw;
        margin-top: 40px;
    }
    .image-in-galery {
        width: 90vw;
        height: 90vw;
        margin: 10px auto;
    }
    .slider {
        display: none;
    }
}
/*ПОПЫТКА СДЕЛАТЬ МОДАЛЬНОЕ ОКНО*/
.modal-form {
	display: none;
}

.modal-form:target {
	display: block;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0.5;
	background-color: gray;
}

.form-body {
	display:none;
}
.modal-form:target + .form-body {
	display:block;
	position: fixed;
	top:55px;
	left:55px;
	right:55px;
	bottom:55px;
	background-color: #edf2f4;
    box-shadow: 2px 0 1 1px black; 
    text-align: center;
}
.close-modal-icon {
    display: block;
    width: 30px;
    height: 25px;
    background-color: gray;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 40px;
    padding-top: 5px;
}
.close-modal-icon:hover {
    background-color: #ef233c;
    transition: .2s linear;
}
.next-modal-icon {
    display: block;
    width: 30px;
    height: 25px;
    background-color: gray;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 75px;
    padding-top: 5px;
}
.next-modal-icon:hover {
    background-color: rosybrown;
    transition: .2s linear;
}
.pre-modal-icon {
    display: block;
    width: 30px;
    height: 25px;
    background-color: gray;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding-top: 5px;
}
.pre-modal-icon:hover {
    background-color: rosybrown;
    transition: .2s linear;
}